<app-navbar></app-navbar>


<div id="searchResults">
    <div class="text-center p-5">
        <h1 style="font-weight:bold; font-size: 30px;padding-top: 6%;">Connection requests</h1>
    </div>
    <div class="container align-self-center">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-light">
                <span style="font-size: large;font-weight: bold;vertical-align: middle;" class="align-middle">Name wants to connect with you</span>
                <span type="button" class="btn btn-info rounded-pill align-middle" style="float:right; color: white;">View profile</span>
                <span class="btn btn-success rounded-pill align-middle" style="float:right;color: white; margin-right: 4px;">Accept</span>
            </li>
        </ul>
    </div>
        
</div>

<div id="network" style="padding-bottom: 5%;">
    <div class="text-center p-5">
        <h1 style="font-weight:bold; font-size: 30px;">Notifications from your posts</h1>
    </div>
    <div class="container align-self-center">
        <ul class="list-group">        
            <li class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</li>
            <li class="list-group-item list-group-item-action list-group-item-info">A simple secondary list group item</li>    
        </ul>
    </div>
</div>

<app-footer></app-footer>