<app-navbar></app-navbar>

<div class="container">
    <div class="messaging col-md-12">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4><b>Recent</b></h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div *ngIf="user.chats.length == 0" class="text-center text-muted m-4">
                      No chats available
                    </div>
                    <div *ngFor="let chat of chats">
                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <!-- <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> -->
                                    <img  [src]="displayProfilePhoto(getOtherUser(chat))" class="rounded-circle" style="margin-left:25px;width: 60px;" alt="" loading="lazy"/>
                                </div>
                                <div class="chat_ib" >
                                    <h5>{{getOtherUser(chat).name}} {{getOtherUser(chat).surname}}<span class="chat_date">Dec 25</span></h5>
                                    <p>Test, which is a new approach to have all solutions 
                                        astrology under one roof.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mesgs" *ngIf="currentChat">
              <div class="msg_history">
                <div *ngIf=" currentChat.messages.length == 0" class="text-center text-muted m-4">
                  No messages yet
                </div>
                <div *ngFor="let message of currentChat.messages">
                  
                  
                  <div *ngIf="isIncoming(message)" class="incoming_msg">
                    <div class="incoming_msg_img"> 
                      <img [src]="displayProfilePhoto(message.userMadeBy)" alt="sunil"> 
                    </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>message.content</p>
                        <span class="time_date">{{message.timestamp | date:'d MMMM y, h:mm a'}}</span> </div>
                    </div>
                  </div>
                  
                  
                  <div *ngIf="!isIncoming(message)" class="outgoing_msg">
                    <div class="sent_msg">
                      <p>message.content</p>
                      <span class="time_date">{{message.timestamp | date:'d MMMM y, h:mm a'}}</span> </div>
                  </div>



                </div>
                
                
                

              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <form name="form" #messageform="ngForm" (ngSubmit)="addMessage(messageform)">
                    <input [(ngModel)]="newMessage.content" type="text" class="write_msg" placeholder="Type a message" />
                    <button [disabled]="!newMessage.content"  class="msg_send_btn" type="submit">
                      <i class="far fa-paper-plane"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
        </div>
          
        </div>
    </div>


<app-footer></app-footer>
