<!-- <p>postsinfeed works!</p> -->

<div class="posts" id="posts" >
    <div  *ngFor="let post of posts">
        <!-- <div  *ngFor="let post of posts  | paginate: { id: 'deplist',itemsPerPage: 5,currentPage: page,totalItems: posts.length }"> -->
        <div class="card">
            <div class="card-body ">
                <div class="container">
                    <div class=" box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img (click)="newTab(post.owner.profilePicture)" *ngIf="post.owner.profilePicture" [src]="displayPhoto(post.owner.profilePicture)" width="20px" height="20px" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                <img *ngIf="!post.owner.profilePicture" class="img-circle" src="https://img.icons8.com/office/36/000000/person-male.png" alt="User Image">
                                <span class="username"><a href="#" data-abc="true">{{post.owner.name}} {{post.owner.surname}}</a></span> <br>
                                <span class="description">{{post.timestamp | date:'d MMMM y, h:mm a'}}</span> 
                            </div>
                            <div class="box-tools"> 
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read"> 
                                    <i class="fa fa-circle-o"></i>
                                </button>  
                            </div>
                        </div>
                        <div class="box-body"> 
                            <div class="content">
                                <h3>{{post.content}}</h3>
                            </div>
                            <!-- <img class="img-responsive pad" src="https://i.imgur.com/EAQkLS1.jpg" alt="Photo">         -->

                            <button *ngIf="!userIsInterested(post)" type="button" class="btn btn-primary btn-xs" (click)="setUserInterested(post)">
                                <i class="fas fa-thumbs-up"></i> Interesting!
                            </button> 
                            <button *ngIf="userIsInterested(post)" type="button" class="btn btn-outline-primary btn-xs" (click)="setUserInterested(post)">
                                <i class="fas fa-thumbs-up"></i> Undo Interesting!
                            </button> 
                            <span class="pull-right text-muted">{{post.interestReactions.length}} users are interested - {{post.comments.length}} comments</span>
                        </div>
                        <div *ngIf="post.comments.length" class="box-footer box-comments">
                            <div  *ngFor="let comment of post.comments">
                                <div class="box-comment">
                                    <img class="img-circle img-sm" src="https://img.icons8.com/office/36/000000/person-female.png" alt="User Image">
                                    <div class="comment-text"> 
                                        <span class="username"> {{comment.userMadeBy.name}} {{comment.userMadeBy.surname}}
                                            <span class="text-muted pull-right">{{comment.timestamp | date:'d MMMM y, h:mm a'}}</span> 
                                        </span> {{comment.content}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <form name="form" #commentform="ngForm" (ngSubmit)="addNewComment(post.id,commentform)"> 
                                <img class="img-responsive img-circle img-sm" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="Alt Text">
                                <div class="img-push "> 
                                    <textarea name="content" [(ngModel)]="newComment.content" rows="1" type="text" class="form-control text-post" placeholder="Press enter to post comment"></textarea>
                                    <button [disabled]="!newComment.content" class="btn post-btn btn-primary btn-sm align-right" type="submit"  style="margin-top:5px;background-color:#158eff; color:white;float: right;">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    <!-- <pagination-controls  *ngIf="posts && posts.length > 5" style="position: relative; right: 40px"  id="deplist" (pageChange)="page = $event">
    </pagination-controls> -->
</div>


