#feedcards{
    margin-top: 8%;
    width: 100%;
}

#profileCard{
    width: 80%;
}

#profile-image{
    width: 50%;
    border-radius: 50%;
    margin-top: 5%;

}

#postCard{
    background-color: white;
}

.text-post{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    background-color:rgb(240, 240, 240);
}