<app-navbar></app-navbar>

<div class="container" id="feedcards">
    <div class="card-group col-xs-12">
        <div class="col-sm-4">
            <div class="card"  id="profileCard">
                <div style= "text-align:center">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" id="profile-image" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
        <div class="card" id="postCard">
            <app-create-post></app-create-post>
        </div>
        </div>
    </div>
</div>

<app-footer></app-footer>

