#feedcards{
    margin-top: 8%;
    width: 100%;
}

#profileCard{
    width: 80%;
}

#diversCard {
    margin-left: 20%;
}

#profile-image{
    width: 50%;
    border-radius: 50%;
    margin-top: 5%;

}

#postCard{
    background-color: white;
}


