#feedcards{
    margin-top: 8%;
    width: 100%;
}

#profileCard{
    width: 80%;
    font-family: 'Helvetica';
}

#networkCard{
    width: 80%;
    font-family: 'Helvetica';
    margin-top:5%;
}

#diversCard {
    margin-left: 20%;
}

#profile-image{
    width: 50%;
    border-radius: 50%;
    margin-top: 5%;

}

#allPosts{
    margin-bottom: 15%;
    /* padding-left: 2%; */

}

.profile-btn{
    background-color: #158eff;
    color: white;
}

#postCard{
    background-color: white;
}


