
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <img id="mylogo" src="../../../assets/images/logo2.png" alt="" width="200">
      <!-- Search form -->
      <!-- <form class="input-group search-area" style="width: 300px">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
      </form> -->
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
          <li class="nav-item" style="margin-right: 10px;">
            <button type="button" [routerLink]="['/admin']" class="btn btn-default btn-sm users-btn">
              <i class="fas fa-users"></i>
                 Users
            </button>
          </li>

          <li class="nav-item">
            <button type="button" (click)="logout()" class="btn btn-default btn-sm logout-btn">
                <i class="fas fa-sign-out-alt"></i>
                 Logout
            </button>
          </li>
              
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

