<app-navbar></app-navbar>

<div class="container" id="jobCards" style="padding-bottom: 5%;">
    <div style="position: sticky !important;"  class="card-group col-xs-12 fixed">
        <div class="col-sm-3">
            <div class="text-center">
                <h1 style="font-weight:bold; font-size: 25px;">Create a Job</h1>
            </div>
            <div class="card"  id="addJobCard">
                <div class="card-body" style= "text-align:center">
                  <!-- <h5 class="card-title" style= "font-size: 20px;"><b>Create a Job</b></h5> -->
                    <form name="jobForm" #jobForm="ngForm" (ngSubmit)="jobSubmit(jobForm)">
                        <hr>
                        <mat-form-field class="form-input"  appearance="fill" style= "width: 100%;">
                            <mat-label>Job title</mat-label>
                            <input matInput type="text" id="title" placeholder="Job title" [(ngModel)]="job.title" name="title" #title="ngModel" required >
                        </mat-form-field><br>
                        <mat-form-field class="form-input"  appearance="fill" style= "width: 100%;">
                            <mat-label>Job description</mat-label>
                            <input matInput type="text" id="description" placeholder="Job description" [(ngModel)]="job.description" name="description" #description="ngModel" required >
                        </mat-form-field><br>
                        <div >
                            <button class="job-btn btn btn-primary" type="submit">Save</button>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="margin-left:5%;" class="col-sm-8">
            <div class="text-center">
                <h1 style="font-weight:bold; font-size: 30px;">Jobs</h1>
            </div>
            <div *ngIf="jobs.length==0" class="text-center p-4 text-muted">
                No jobs have been posted
            </div>
            <div *ngFor="let job of jobs">
                <div *ngIf="usersJob(job)">
                    <div class="card border-primary mb-4"  id="jobCard">
                        <div class="card-title m-1 ">
                            <h2 style="margin-left: 5%;padding-top:5% ;">{{job.title}}</h2>
                            <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">
                        </div>
                        <div class="card-body" style= "margin-left: 5%;padding-bottom: 10px;">
                            <div  style="padding-bottom: 20px;">
                                {{job.description}}
                            </div>
                            <div  style="padding-bottom: 20px;">
                                Number of applicants so far: {{job.usersApplied.length}}
                            </div>
                            <div  style="padding-bottom: 5px;">
                                Applicants: 
                            </div>
                            <div class="row">
                                <div *ngFor="let u of job.usersApplied">
                                    <span class="badge badge-pill badge-primary" style="color: white;background-color: rgb(13, 175, 100) ;font-size: 1.1em;">
                                         {{u.name}} {{u.surname}} 
                                    </span>
                                </div>
                            </div>
                            <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">

                            <div  style="padding-bottom: 20px;float:right;margin-right: 1%;">
                                Published by You
                            </div>
                            <div  style="padding-bottom: 20px;float:left;margin-right: 1%;">
                                {{job.timestamp | date:'d MMMM y, h:mm a'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!usersJob(job)">
                    <div class="card border mb-4"  id="jobCard">
                        <div class="card-title m-1 ">
                            <h2 style="float:left;margin-left: 5%;padding-top:5% ;">{{job.title}}</h2>
                            <div *ngIf="alreadyApplied(job)" style="float:right;padding-top:5% ;" class="col-2  ">
                                <button  type="button" (click)="newApplication(job.id)" class="btn btn-primary"> <i class="fas fa-plus"></i> Apply</button>
                            </div> 
                            <div *ngIf="!alreadyApplied(job)" style="float:right;padding-top:5% ;" class="col-3  ">
                                <button disabled type="button" class="btn btn-outline-success"> <i class="fas fa-check"></i> Already applied</button>
                            </div> 
                            <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">
                            
                        </div>
        
                        <div class="card-body" style= "margin-left: 5%;padding-bottom: 10px;">
                            <div  style="padding-bottom: 20px;">
                                {{job.description}}
                            </div>
        
                            <div  style="padding-bottom: 20px;">
                                Applicants so far: {{job.usersApplied.length}}
                            </div>
        
                            <div  style="padding-bottom: 20px;float:right;margin-right: 1%;">
                                Published by <strong>{{job.userMadeBy.name}} {{job.userMadeBy.surname}}</strong>
                            </div>
                            <div  style="padding-bottom: 20px;float:left;margin-right: 1%;">
                                {{job.timestamp | date:'d MMMM y, h:mm a'}}
                            </div>
        
        
                        </div>
                    </div>
                </div>
            </div>


        </div>        
    </div>
</div>

<app-footer></app-footer>