<app-navbar></app-navbar>

<div class="container" id="jobCards" style="padding-bottom: 5%;">
    <div style="position: sticky !important;"  class="card-group col-xs-12 fixed">
        <div class="col-sm-3">
            <div class="text-center">
                <h1 style="font-weight:bold; font-size: 25px;">Create a Job</h1>
            </div>
            <div class="card"  id="addJobCard">
                <div class="card-body" style= "text-align:center">
                  <!-- <h5 class="card-title" style= "font-size: 20px;"><b>Create a Job</b></h5> -->
                    <form name="jobForm" #jobForm="ngForm" (ngSubmit)="jobSubmit(jobForm)">
                        <hr>
                        <mat-form-field class="form-input"  appearance="fill" style= "width: 100%;">
                            <mat-label>Job title</mat-label>
                            <input matInput type="text" id="title" placeholder="Job title" [(ngModel)]="job.title" name="title" #title="ngModel" required >
                        </mat-form-field><br>
                        <mat-form-field class="form-input"  appearance="fill" style= "width: 100%;">
                            <mat-label>Job description</mat-label>
                            <textarea matInput type="text" id="description" placeholder="Job description" [(ngModel)]="job.description" name="description" #description="ngModel" required></textarea>
                            
                        </mat-form-field><br>
                        <div >
                            <button class="job-btn btn btn-primary" type="submit">Save</button>   
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="jobs.length!=0" class="form-group" style="margin-top: 20px;margin-left: 10px;">
                <h3>Sort by:</h3>
                <mat-radio-group  aria-label="Select an option" name="radioprivacy" id="radioprivacy" [(ngModel)]="sortType" required>
                  <mat-radio-button (click)="changeSort(0)" [value]=0 style="margin-right: 10px;" name="private">Date created</mat-radio-button>
                  <mat-radio-button (click)="changeSort(1)" [value]=1 name="public">Relevant to you</mat-radio-button>
                </mat-radio-group> 
            </div>   
        </div>
        <div style="margin-left:5%;" class="col-sm-8">
            <div class="text-center">
                <h1 style="font-weight:bold; font-size: 30px;">Jobs</h1>
            </div>
            <div *ngIf="jobs.length==0" class="text-center p-4 text-muted">
                No jobs have been posted
            </div>
            <div *ngFor="let job of jobs">
                <div *ngIf="usersJob(job) && sortType==0">
                    <div class="card border-primary mb-4"  id="jobCard">
                        <div class="card-title m-1 ">
                            <h2 style="margin-left: 5%;padding-top:5% ;">{{job.title}}</h2>
                            <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">
                        </div>
                        <div class="card-body" style= "margin-left: 5%;padding-bottom: 10px;">
                            <div  style="padding-bottom: 20px;">
                                {{job.description}}
                            </div>
                            <div  style="padding-bottom: 20px;">
                                Number of applicants so far: {{job.usersApplied.length}}
                            </div>
                            <div  style="padding-bottom: 5px;">
                                Applicants: 
                            </div>
                            <u id="applicants" style="text-decoration:none">
                                <li *ngFor="let u of job.usersApplied" style="text-decoration:none" >
                                    <span class="align-middle applicant" [routerLink]="['/users/', u.id]"  style="text-decoration:none">{{u.name}} {{u.surname}} </span>
                                </li>
                            </u>


                        </div>
                        <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">
                        <div class="card-body" style= "margin-left: 2%;padding-bottom: 10px;">
                            

                            <div  style="padding-bottom: 20px;float:right;margin-right: 1%;">
                                Published by You
                            </div>
                            <div  style="padding-bottom: 20px;float:left;margin-right: 1%;">
                                {{job.timestamp | date:'d MMMM y, h:mm a'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!usersJob(job)">
                    <div class="card border mb-4"  id="jobCard">
                        <div class="card-title m-1 ">
                            <h2 style="float:left;margin-left: 5%;padding-top:5% ;">{{job.title}}</h2>
                            <div *ngIf="!alreadyApplied(job)" style="float:right;padding-top:5% ;" class="col-2  ">
                                <button  type="button" (click)="newApplication(job.id)" class="btn btn-primary"> <i class="fas fa-plus"></i> Apply</button>
                            </div> 
                            <div *ngIf="alreadyApplied(job)" style="float:right;padding-top:5% ;" class="col-3  ">
                                <button disabled type="button" class="btn btn-outline-success"> <i class="fas fa-check"></i> Already applied</button>
                            </div> 
                            <hr style="width: 90%;margin-left: 5%;margin-right: 5%;">
                            
                        </div>
        
                        <div class="card-body" style= "margin-left: 5%;padding-bottom: 10px;">
                            <div  style="padding-bottom: 20px;">
                                {{job.description}}
                            </div>
        
                            <div  style="padding-bottom: 20px;">
                                Applicants so far: {{job.usersApplied.length}}
                            </div>
        
                            <div  style="padding-bottom: 20px;float:right;margin-right: 1%;">
                                Published by  <a [routerLink]="['/users/',job.userMadeBy.id]" style="text-decoration: none;"><b>{{job.userMadeBy.name}} {{job.userMadeBy.surname}}</b></a>
                                 
                            </div>
                            <div  style="padding-bottom: 20px;float:left;margin-right: 1%;">
                                {{job.timestamp | date:'d MMMM y, h:mm a'}}
                            </div>
        
        
                        </div>
                    </div>
                </div>
            </div>


        </div>        
    </div>
</div>

<app-footer></app-footer>