
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light  fixed-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <img id="mylogo" src="../../../assets/images/logo2.png" alt="" width="200">
      <!-- Search form -->
      <form class="input-group search-area" style="width: 300px">
        <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
      </form>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
          <li class="nav-item">
            <a class="nav-link active d-flex flex-column text-center" aria-current="page" href="/feed"><i class="fas fa-home fa-lg"></i><span class="small">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/network"><i class="fas fa-user-friends fa-lg"></i><span class="small">My Network</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/jobs"><i class="fas fa-briefcase fa-lg"></i><span class="small">Jobs</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/messaging"><i class="fas fa-comment-dots fa-lg"></i><span class="small">Messaging</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column text-center" aria-current="page" href="/notifications"><i class="fas fa-bell fa-lg"></i><span class="small">Notifications</span></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
                class="rounded-circle"
                height="30"
                alt=""
                loading="lazy"
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">My profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
              
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
